<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaUsuario</servlet-name>
        <servlet-class>ValidaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraServico</servlet-name>
        <servlet-class>CadastraServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaSolicitacao</servlet-name>
        <servlet-class>BuscaSolicitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeDadosCadSolic</servlet-name>
        <servlet-class>RecebeDadosCadSolic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeDadosEmpresa</servlet-name>
        <servlet-class>RecebeDadosEmpresa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaUsuario</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraServico</servlet-name>
        <url-pattern>/addServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaSolicitacao</servlet-name>
        <url-pattern>/BuscaSolicitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeDadosCadSolic</servlet-name>
        <url-pattern>/RecebeDadosCadSolic</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RecebeDadosEmpresa</servlet-name>
        <url-pattern>/cadastrarEmpresa</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
